<%= stylesheet_link_tag "falling_lava" %>

<div id="canvas-container">
  <canvas id="backgroundCanvas" width="800" height="600"></canvas>
  <canvas id="canvasEntities" width="800" height="600"></canvas>
  <canvas id="menu" width="800" height="600"></canvas>
</div>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/prototype/1.6.0.2/prototype.js"></script>
<%= javascript_include_tag "falling_lava/util.js" %>
<%= javascript_include_tag "falling_lava/player.js" %>
<%= javascript_include_tag "falling_lava/falling_lava" %>
<%= javascript_include_tag "falling_lava/sideways_lava" %>
<%= javascript_include_tag "falling_lava/menu.js" %>
<%= javascript_include_tag "falling_lava/timer.js" %>
<%= javascript_include_tag "falling_lava/game.js" %>
